<h1>DASH BOARD<h1>

<div class="dashboard-box">

<div class="search-block-dashboard">
  <%= form_tag dash_board_index_path, :method => 'get'  do %>
      <%= text_field_tag :tweet_text, params[:tweet_text],placeholder: "Search Tweet"%>

      <%= submit_tag "Search", :name => nil  %>
    <% end %>
</div>

  <ul>
    <li>
      <h3>Number of Users</h3>
      <p><%= @user_array_count%></p>
    </li>

    <li>
      <h3>Tweets Count</h3>
      <p><%= @tweet_count%></p>
    </li>

    <li>
      <h3>Retweets Count</h3>
      <p><%= @retweet_count%></p>
    </li>

    <li>
     <%= link_to 'Twitter Search Results', searches_path %>
    </li>
  </ul>
</div>


<br>


